<style>
  .center-list {
    display: flex;
    justify-content: center;
    align-items: stretch;
    /* min-height: 100vh; */
    margin: 0;
    text-align: center;

  }
  .image-wrapper {
      max-width: 200px;
      width: 100%;
  }
</style>
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer-inner">
          <ul class="center-list">
            <li>
              <a href="https://schmidtfutures.com/" target="_blank" class="image-wrapper">
                  <img src='/images/schmidtsciences_primary_color.png' style="width: 100%; height: auto;"/>
              </a>
            </li>
            <li class="copyright">This project is supported by Schmidt Sciences, LLC.                                     </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
