<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer-inner">
          <ul>            
            <li class="logof"> <a href="https://schmidtfutures.com/" target="blank"><img src='https://m2lines.github.io/images/Schmidt-Futures-Logo-small.jpg' /></a></li>
            <li class="copyright">This project is supported by Schmidt Futures, a philanthropic initiative founded by Eric and Wendy Schmidt that bets early on exceptional people making the world better, particularly through innovative breakthroughs in science and technology.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
