<div id="main-menu-mobile" class="main-menu-mobile">
  <ul>
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
      {{- if .HasChildren }}
        {{ $parent := . }}
        {{ range.Children }}
          <li class="menu-item-{{ .Name | lower }}{{ if $currentPage.IsMenuCurrent "main" . }} active{{ end }}">
            <a href="{{.URL}}">
              {{ .Pre }}
              <span>{{$parent.Name}}: {{ .Name }}</span>
            </a>
          </li>
        {{end}}
      {{- else }}
        <li class="menu-item-{{ .Name | lower }}{{ if $currentPage.IsMenuCurrent "main" . }} active{{ end }}">
          <a href="{{.URL}}">
            {{ .Pre }}
            <span>{{ .Name }}</span>
          </a>
        </li>
      {{end}}
    {{end}}
  </ul>
</div>
