<!-- <div class="team team-summary team-summary-large">
  {{ if .Params.image }}
  <div class="team-image">
    <img alt="Photo of {{ .Title }}" class="img-fluid mb-2" src="{{ .Params.image | relURL }}" />
  </div>
  {{ end }}
  <div class="team-meta">
    {{ if .Params.Website }}
    <h2 class="team-name"><a target="_blank" href="{{ .Params.Website }}">{{ .Title }}</a> </h2>
    {{ else }}
    <h2 class="team-name">{{ .Title }}</h2>
    {{ end }}
    <p class="team-description">{{ .Params.Jobtitle }}</p>
  </div>
  <div class="team-content">    {{ .Content | truncate 120 "…" }}</div>
</div> -->

<div class="team team-summary team-summary-large">
  {{ if .Params.image }}
  <div class="team-image">
    <img alt="Photo of {{ .Title }}" class="img-fluid mb-2" src="{{ .Params.image | relURL }}" />
  </div>
  {{ end }}
  <div class="team-meta">
    {{ if .Params.Website }}
    <h2 class="team-name"><a target="_blank" href="{{ .Params.Website }}">{{ .Title }}</a></h2>
    {{ else }}
    <h2 class="team-name">{{ .Title }}</h2>
    {{ end }}
    <p class="team-description">{{ .Params.Jobtitle }}</p>
    <p class="team-description">{{ .Content | truncate 120 "…" }}</p>
  </div>
  <div class="team-content">

    {{ with .Params.tags }}
    <div class="team-tags">
      {{ range . }}
        {{ $tagLink := index $.Site.Data.tag_links . }}
        {{ if $tagLink }}
          <a href="{{ $tagLink }}" target="_blank" class="tag">{{ . }}</a>
        {{ else }}
          <span class="tag">{{ . }}</span>
        {{ end }}
      {{ end }}
    </div>
    {{ end }}
  </div>
  {{ if .Params.position }}
      <p><mark class="team-tags tag-position" >{{ .Params.Position }}</mark></p>
  {{ end }}
</div>



<!-- add css below -->
<style>
.tag {
  display: inline-block;
  margin-right: 10px;
  padding: 2px 6px;
  background-color: #ffffff;
  color: #080808;
  font-size: 15px; /* Adjust font size as needed */
  border: 1px solid #ffffff00;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, font-size 0.3s;
}

.tag:hover {
  background-color: #080808;
  color: #ffffff;
  font-size: 18px; /* Increase font size on hover */
  text-decoration: none; /* Remove underline from links */
}

.tag-position {
  display: inline-block;
  margin-right: 10px;
  padding: 8px 6px;
  text-align: center;
  background-color: #ffffff;
  color: #080808;
  font-size: 15px; /* Adjust font size as needed */
  /* border: 1px solid #000000;  */
  border-radius: 4px;
  /* transition: background-color 0.3s, color 0.3s, font-size 0.3s; */
}


</style>
