{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-services-list{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}

{{ partial "hero-image-setheight.html" (dict "background" .Params.heroBackground "heading" .Params.heroHeading "subheading" .Params.heroSubHeading "content" .)}}
{{ if .Content }}
<div class="container pt-6 pt-md-10">
  <div class="row">
    <div class="col-12">
      <div class="page-intro">
        {{ .Content }}

        <!-- show tags -->
        <div class="circle-container">
          <div class="center-image">
            <img src="/images/research/workplan-circle.png" alt="Center Image" />
          </div>

          <div class="circle-menu">
            <!-- reorder based on preference by Johanna -->
            {{ $classes := slice "menu-item-4"   "menu-item-9" "menu-item-7" "menu-item-8" "menu-item-2" "menu-item-6" "menu-item-3" "menu-item-1"  "menu-item-5" }}
            {{ $index := 0 }}
            {{ range $key, $value := .Site.Data.tag_links }}
              <a target="_blank" href="{{ $value }}" class="menu-item {{ index $classes $index }}">{{ $key }}</a>
              {{ $index = add $index 1 }}
            {{ end }}
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
{{ end }}


<div class="container pb-6 pt-6 pb-md-10 pt-md-10">
  <div class="row">
    {{ range .Pages.ByWeight }}
    <div class="col-12 col-md-6 mb-2 ">{{ .Render "summary" }}</div>
    {{ end }}
  </div>
</div>

<div class="container pb-6 pt-6 pb-md-10 pt-md-10">
  <div class="row">
    {{ partial "subscribe.html" }}
     </div>
</div>

<style>
  .tags-list {
    display: flex;
    justify-content: center; /* Center the tags horizontally */
    flex-wrap: wrap; /* Allow tags to wrap onto a new line if necessary */
    gap: 10px; /* Add space between tags */
  }
  .team-tags {
    display: flex;
    flex-direction: column; /* Stack the heading and tags vertically */
    align-items: center; /* Center the heading and tags horizontally */
    gap: 10px; /* Add space between the heading and the tags */
  }

  .keywords-heading {
    margin-bottom: 10px; /* Add space below the heading */
  }

  .tag {
    display: inline-block;
    padding: 2px 6px;
    background-color: #ffffff;
    color: #080808;
    font-size: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, font-size 0.3s;
  }

  .tag:hover {
    background-color: #080808;
    color: #ffffff;
    font-size: 16px;
  }

  .circle-container {
    position: relative;
    width: 80wh;
    height: 80vh;
    margin: 0 auto;
  }

  .center-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .center-image img {
    width: 100%; /* Adjust the size of the central image */
    height: 100%; /* Ensure the height is consistent */
    border-radius: 50%;
  }

  .center-text {
    margin-top: 10px;
    font-size: 16px;
  }

  .circle-menu {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

/* Common styles for menu items */
.menu-item {
    position: absolute;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    display: block; /* Change to block to allow text to wrap */
    padding: 4px 8px;
    color:#080808;

    border: 2px solid transparent;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, font-size 0.3s;
    width: 150px; /* Set a fixed width to control wrapping */
    white-space: normal; /* Allow text to wrap */
  }

  .menu-item:hover {
    color: #ffffff;
    font-size: 18px;
  }

  /* Default pastel colors for each menu item */
  .menu-item-1 { background-color: #99d8d0; } /* Pastel teal */
  .menu-item-2 { background-color: #ffc1b6; } /* Pastel coral */
  .menu-item-3 { background-color: #99c0f0; } /* Pastel ocean blue */
  .menu-item-4 { background-color: #c6e8f6; } /* Pastel sky blue */
  .menu-item-5 { background-color: #ddebf3; } /* Pastel ice blue */
  .menu-item-6 { background-color: #ffed99; } /* Pastel gold */
  .menu-item-7 { background-color: #d9b2f0; } /* Pastel violet */
  .menu-item-8 { background-color: #c0c4cd; } /* Pastel grey */
  .menu-item-9 { background-color: #a9dba9; } /* Pastel green */

  /* Hover effect with slightly darker pastel colors */
  .menu-item-1:hover { background-color: #66b3aa; } /* Darker pastel teal */
  .menu-item-2:hover { background-color: #e69783; } /* Darker pastel coral */
  .menu-item-3:hover { background-color: #668cc6; } /* Darker pastel ocean blue */
  .menu-item-4:hover { background-color: #93c2d4; } /* Darker pastel sky blue */
  .menu-item-5:hover { background-color: #b3cbd9; } /* Darker pastel ice blue */
  .menu-item-6:hover { background-color: #ffda66; } /* Darker pastel gold */
  .menu-item-7:hover { background-color: #b783d6; } /* Darker pastel violet */
  .menu-item-8:hover { background-color: #8f99a3; } /* Darker pastel grey */
  .menu-item-9:hover { background-color: #75b575; } /* Darker pastel green */

  /* Position each menu item around the center, adjusted for more spacing */
  .menu-item-1 { top: 0%; left: 50%; transform: translate(-50%, -50%); } /* Top center */
  .menu-item-2 { top: 20%; left: 84%; transform: translate(-80%, -80%); }
  .menu-item-3 { top: 50%; left: 90%; transform: translate(-80%, -80%); }
  .menu-item-4 { top: 85%; left: 84%; transform: translate(-80%, -80%); }
  .menu-item-5 { top: 100%; left: 54%; transform: translate(-80%, -80%); }
  .menu-item-6 { top: 85%; left: 25%; transform: translate(-80%, -80%); }
  .menu-item-7 { top: 60%; left: 15%; transform: translate(-50%, -50%); } /* Bottom left */
  .menu-item-8 { top: 40%; left: 19%; transform: translate(-80%, -80%); }
  .menu-item-9 { top: 20%; left: 25%; transform: translate(-80%, -80%); }


</style>


{{ end }}
