<div class="work work-summary">
  {{ if .Params.thumbnail }}
  <div class="work-image item mx-auto">
    <a href="{{ .RelPermalink }}"><img src="{{ .Params.thumbnail | relURL }}" class=""/></a>
  </div>
  {{ end }}
  <div class="work-content">
    <h2 class="work-title">
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </h2>
  </div>
</div>

<style>
  .fixed-height-image {
    scale: 0.85; /* Adjust the height value */
  }
  .work-title {
    margin: 0; 
    padding: 0; 
}
  .work-image {
    margin: 0; 
    padding: 0; 
  }
  .work-content {
    margin: 0; 
    padding: 0; 
}
  </style>